/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f1f1; /* Fundo claro para todo o corpo */
}

.sidebar {
    width: 200x;  /* Largura suficiente para todo o conteúdo */
    background-color: #ffe0b2;
    height: 100vh;
    padding: 20px 15px;  /* Ajuste o padding se necessário para melhor alinhamento */
    box-sizing: border-box;  /* Inclui padding na largura total */
    overflow: hidden;  /* Esconde qualquer conteúdo que ultrapasse os limites */
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;  /* Evita que o texto quebre em múltiplas linhas */
}

.material-icons {
    margin-right: 10px;
}

.content {
    padding: 20px;
    background-color: #fff;
    text-align: center;  /* Centraliza o conteúdo textual */
    flex-grow: 1;  /* Faz o conteúdo principal ocupar o espaço restante */
    position: relative;  /* Permite posicionamento absoluto para a logo */
}

#logo {
    position: absolute;  /* Posiciona absolutamente a logo */
    right: 30px;  /* Distância da borda direita */
    top: 10px;  /* Distância do topo */
    width: 200px;
}

h1 {
    color: #d67b27;  /* Cor do botão aplicada ao título */
    margin: 40px 0 20px;  /* Espaçamento ajustado */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  /* Garante que o formulário ocupe a largura disponível */
}

.form-group {
    margin-bottom: 15px;  /* Espaçamento entre os campos do formulário */
    width: 60%;  /* Reduzindo a largura dos campos */
}

input, select, textarea {
    width: 100%;  /* Faz os inputs preencherem a largura do form-group */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 60%;  /* Ajustando a largura do botão para combinar com os campos */
    padding: 10px;
    background-color: #d67b27;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #91531a;
}
